[workspace]
{% if repository %}repository = "{{ repository }}"
{% endif %}pcb-version = "{{ pcb_version }}"
vendor = ["github.com/diodeinc/registry/**"]

[board]
name = "{{ board }}"
path = "{{ board }}.zen"
description = "Replace with concise board description."

[access]
allow = ["*"]
